h2{
  background: #ffffff;
  text-align: center;
  font-size: 200%;
  font-variant: small-caps;
  font-family: Lato, "Black", serif;
}
figure{
  background: #ffffff;
  text-align: center;
  font-family: Lato, "Black", serif;
}
h5{
  color: #FFFFFF;
  text-align: center;
}
/* nav{
  font-variant: small-caps;
  font-size: 150%;
  font-family: Lato, "Black", serif;
}
h2{
  color: #666666;
  background: #00B7EA;
} */
p{
  text-align: center;
}
details{
  font-style: italic;
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
iframe{
  text-align: center;
}
/* summary{
  font-style: normal;
} */
/* figure{
  background: #666666;
} */
