h2{
  background: black;
  color: white;
  text-align: center;
  font-size: 200%;
  font-variant: small-caps;
  font-family: Lato, "Black", serif;
}
figure{
  text-align: center;
  font-size: 100%;
  font-family: Lato, "Black", serif;
}
h5{
  color: white;
  text-align: center;
}
nav{
  color: white;
  font-variant: small-caps;
  text-align: center;
  font-size: 150%;
  font-family: Lato, "Black", serif;
  /* display: inline-block; */
}
p{
  text-align: center;
}
details{
  font-style: italic;
  text-align: center;
}
h3{
  color: white;
  font-variant: small-caps;
  text-align: center;
  font-size: 150%;
  font-family: Lato, "Black", serif;
}
h4{
  color: white;
  font-variant: small-caps;
  text-align: center;
  font-size: 100%;
  font-family: Lato, "Black", serif;
}
div{
  font-variant: small-caps;
  text-align: center;
  font-size: 150%;
  font-family: Lato, "Black", serif;
}
p{
  font-variant: small-caps;
  text-align: center;
  font-size: 100%;
  font-family: Lato, "Black", serif;
}
a{
  display: inline-block;
  font-weight: bold;
  color: #FFFFFF;
  /* background-color: #0006CC; */
  width: 20%;
  text-align: center;
  /* padding: 4px; */
  text-decoration: none;
}
a:link{

}
a:visited{
  
}
a:hover{
  /* background: #B3B3B3; */
  color: #0006CC;
}
a:focus{
  /* background: #B3B3B3; */
  color: #0006CC;
}
a:active{
  /* background: #B3B3B3; */
  color: #0006CC;
}
