/* Master Styles */
body {
    font-family: "lato", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Portfolio Styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 2s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 5s;
    filter: brightness(25%);
}


/* Needs edit?? */
.blog-title-wrapper {
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    font-variant: small-caps;
    text-align: center;
    font-size: 100%;
    font-family: Lato, "Black", serif;
}
.blog-text-wrapper {
    color: gray;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center, justify;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
.blog-image-wrapper {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
nav{
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    font-variant: small-caps;
    text-align: center;
    font-size: 100%;
    font-family: Lato, "Black", serif;
}
figcaption{
    color: white;
}
h3{
    text-align: center;
    font-size: 150%;
    font-variant: small-caps;
    font-family: Lato, "Black", serif;
    color: lightseagreen;
}


/* Experience page */
.resume-section-title {
    font-size: 175%;
    font-variant: small-caps;
    font-family: Lato, "Black", serif;
    color: lightseagreen;
}
.resume-content-title {
    font-size: 100%;
    font-family: Lato, "Black", serif;
    color: black;
}
.resume-content-title a {
    font-size: 100%;
    font-family: Lato, "Black", serif;
    color: black;
}
.resume-content-text {
    font-size: 75%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.resume-software-title {
    font-size: 90%;
    font-family: Lato, "Black", serif;
    color:gray;
}
.resume-design-title {
    font-size: 90%;
    font-family: Lato, "Black", serif;
    color:gray;
}
.resume-awards-title {
    font-size: 90%;
    font-family: Lato, "Black", serif;
    color:gray;
}
.resume-awards-text {
    font-size: 75%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

.profile-content-text {
    font-size: 75%;
}