nav{
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  font-variant: small-caps;
  text-align: center;
  font-size: 150%;
  font-family: Lato, "Black", serif;
}
h5{
  text-align: center;
  font-size: 150%;
  font-variant: small-caps;
  font-family: Lato, "Black", serif;
}
p{text-align: center;
  font-size: 125%;
  font-variant: small-caps;
  font-family: Lato, "Black", serif;
  margin-bottom: 10px;
}
