nav{
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  font-variant: small-caps;
  text-align: center;
  font-size: 150%;
  font-family: Lato, "Black", serif;
  /* display: inline-block; */
  /* border: 1px solid black; */
  /* margin: auto; */
}
h5{
  text-align: center;
  font-size: 150%;
  font-variant: small-caps;
  font-family: Lato, "Black", serif;
}
p{text-align: center;
  font-size: 125%;
  font-variant: small-caps;
  font-family: Lato, "Black", serif;
  margin-bottom: 10px;
  /* border-width: medium; */
  /* border-color: black; */
  /* margin: auto; */
  /* padding: inherit; */
  /* border: 1px solid black; */
}
